body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

/* Hero Section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

.hero-content {
    max-width: 40%;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.hero-desc {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.hero-image {
    max-width: 100%;
}

.hero-image img {
    width: 500px;
    height: 250px;
}

.hero-button {
    background-color: #3882f6;
    color: #eee;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Information Section */
.info {
    text-align: center;
    margin-bottom: 5%;
}

.info-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.info-container .card {
    width: min-content;
}

.info-container .card-footer p {
    margin: 0;
}

.info-box img {
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.info-text {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Quote Section */
.quote {
    background-color: #e5e7eb;
    padding: 100px 400px;
    text-align: center;
    font-style: italic;
    font-size: 36px;
}

.quote-text {
    margin: 0;
    text-align: start;

}

.quote-author {
    margin: 0;
    text-align: right;
    font-style: normal;
    padding: 10px 0;
    font-weight: bold;
}

/* Call to Action */
.cta {
    padding: 50px 300px;
}

.cta-button {
    background-color: white;
    color: #3882f6;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px; 
}

.cta-content {
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 30px 100px;
}

.cta-content h3 {
    margin: 0;
}

.cta-content p {
    margin: 0;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0;

}